<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Taif</Name>
    <Version>3.2.0</Version>
    <Title>Taif Installer</Title>
    <Publisher>Taif</Publisher>
    <StartMenuDir>Taif</StartMenuDir>
    <TargetDir>@ApplicationsDirUser@/Taif</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <RemoteRepositories>
        <Repository>
            <Url>https://shad7ows.github.io/TaifUpdateFiles/Linux</Url>
            <Enabled>1</Enabled>
            <DisplayName>TaifUpdateRepo</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
